<form id="form_updatepassword">
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <label>Contrase침a actual</label>
    <p><input type="password" class="form-control" name="old_pass" required></p>
    <label>Nueva contrase침a</label>
    <p><input type="password" class="form-control" name="new_pass" required></p>
    <label>Confirmaci칩n de contrase침a</label>
    <p><input type="password" class="form-control" name="confirm_pass" required></p>
    <button class="btn btn-primary" type="submit">Actualizar</button>
</form>