<form id="terminalForm">

    <input type="text" value="<%=terminal.id%>" name="id" hidden>
    <p>
        <label>Nombre del facturador</label>
        <input name="nombre" value="<%=terminal.nombre_facturador%>" class="form-control" required>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>
</form>