<form id="brandForm">
<input type="text" value="<%=marca.id%>" name="id" hidden>
    <p>
        <label>Nombre de la marca</label>
        <input type="text" value="<%=marca.nombre%>" class="form-control" name="marca" required>
    </p>

    <p>
        <label>Proveedor</label>
        <select name="id_proveedor" class="form-control">
            <%
            if (proveedores.length > 0 ){
            for (var i =0; i < proveedores.length; i++){
            %>
            <option value="<%= proveedores[i].id %>"> <%= proveedores[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>
</form>