<form id="findEmployees">
    <p>
        <label>Nombre (s)</label>
        <input type="text" class="form-control" name="nombres" required>
    </p>
    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Apellido paterno</label>
                <input type="text" class="form-control" name="apellido_paterno">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Apellido materno</label>
                <input type="text" class="form-control" name="apellido_materno">
            </p>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
    </p>
</form>
<br>
<div id = "search_results">
</div>