<form>

    <label>Marca</label>
    <select class="form-control">
        <option>Todas</option>
    </select>

    <label>Modelo</label>
    <input class="form-control" name="modelo">

    <label>Descripción</label>
    <input class="form-control" name="descripcion">

    <label>Proveedor</label>
    <select class="form-control">
        <option>Todos</option>
    </select>

</form>