<form>

    <p>
    <label>Seleccione un proveedor</label>
    <select class="form-control" name="proveedor">
        <option value="">Todos los proveedores</option>
    </select>
    </p>


    <p>
    <label>Seleccione la marca</label>
    <select class="form-control" name="marca">
        <option>Todas las marcas</option>
    </select>
    </p>


    <p>
    <label>Seleccione el modelo</label>
    <select class="form-control">
        <option>Todos los modelos</option>
    </select>
    </p>

   <p>
       <button type="submit" class="btn btn-default">Buscar</button>
   </p>

</form>