<form>

    <p>
    <label>Buscar por id de nota</label>
    <input type="number" class="form-control" name="id_nota" required>
    </p>

    <button type="submit" class="btn btn-default" >Buscar </button>
</form>
<hr>
<form>
    <label>Buscar notas por periodo</label>
    <div class="row">

        <div class="col-sm-6">
            <p>
                <input type="text" name="init_date" id="notes_datepicker1" class="form-control">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <input type="text" name="end_date" id="notes_datepicker2" class="form-control">
            </p>
        </div>
    </div>

    <p>
        <button type="submit" class="btn btn-default" >Buscar</button>
    </p>

</form>

<div id = "search_results">

</div>