<form id="findSuppliers">
    <p>
        <label>Proveedor</label>
        <select name="id_proveedor" class="form-control" required>
            <%
            if (proveedores.length > 0 ){
                for (var i =0; i < proveedores.length; i++){
            %>
                <option value="<%= proveedores[i].id %>"> <%= proveedores[i].nombre %> </option>
            <%
            }
            }else {
            %>
                <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <label>Fecha inicial</label>
            <div class="form-group">
                <div class='input-group'>
                    <input type="text" name="fecha_inicial" id="suppliers_datepicker1" class="form-control" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <label>Fecha final</label>
            <div class="form-group">
                <div class='input-group'>
                    <input type="text" name="fecha_final" id="suppliers_datepicker2" class="form-control" required>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-12">
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="lat_pay" name="lat_pay">
        <label class="form-check-label" for="lat_pay">Reporte desde último pago</label>
    </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
    </p>
</form>
<br>
<div id = "search_results">
</div>
