<form id="findSuppliers">
    <p>
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
    </p>

    <p>
        <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
    </p>
</form>
<br>
<div id = "search_results">
</div>