

<% for ( var i =0; i < items.length ; i ++ ){ %>
<div class="list-group">
    <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading"> <%= items[i].articulo %></h4>
        <p class="list-group-item-text">...</p>
    </a>
</div>
<%}%>