<form id="terminalForm">
    <p>
        <label>Nombre de facturador</label>
        <input name="nombre" class="form-control" required>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>