<form>

    <!--id_proveedor
    id_tienda-->
    <label>articulo</label>
    <input type="text" class="form-control" name="articulo">
    <label>Descripcion</label>
    <input type="text" name="descripcion" class="form-control">
    <label>Marca</label>
    <input type="text" class="form-control" name="marca">
    <label>Modelo</label>
    <input name="modelo" type="text" class="form-control">
    <label>Talla</label>
    <input type="text" name="talla" class="form-control">
    <label>Notas</label>
    <input type="text" name="notas" class="form-control">
    <label>Precio unitario</label>
    <input type="text" name="precio" class="form-control">
    <!--codigo_barras-->
    <!--url_imagen-->
</form>