<form>
    <input type="text" class="form-control" name="usuario" required>
    <input type="text" class="form-control" name="contrasena" required>
    <input type="email" class="form-control" name="email">
    <input type="text" class="form-control" name="nombres">
    <input type="text" class="form-control" name="apellido_paterno">
    <input type="text" class="form-control" name="apellido_materno">
    <input type="text" class="form-control" name="rfc">
    <input type="text" class="form-control" name="direccion_calle">
    <input type="text" class="form-control" name="direccion_numero_int">
    <input type="text" class="form-control" name="direccion_numero_ext">
    <input type="text" class="form-control" name="direccion_colonia">
    <input type="text" class="form-control" name="direccion_localidad">
    <input type="text" class="form-control" name="direccion_municipio">
    <input type="text" class="form-control" name="direccion_ciudad">
    <input type="text" class="form-control" name="direccion_pais">
    <select class="form-control" name="empleado">
        <option value="true">Sí</option>
        <option value="false">No</option>
    </select>
    <input type="text" class="form-control" name="salario">
    <select class="form-control" name="permiso_tablero">
        <option value="false">No</option>
        <option value="true">Sí</option>
    </select>
    <select class="form-control" name="permiso_administrador">
        <option value="false">No</option>
        <option value="true">Sí</option>
    </select>
    <select class="form-control" name="permiso_empleados">
        <option value="false">No</option>
        <option value="true">Sí</option>
    </select>
    <select class="form-control" name="permiso_inventario">
        <option value="false">No</option>
        <option value="true">Sí</option>
    </select>

    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>