<form id="bonusForm">
    <p>
        <label>Nombre del bono</label>
        <input name="nombre" class="form-control" required>
    </p>

    <p>
        <label>Monto del bono</label>
        <input name="monto" class = "form-control">
    </p>
    <p>
        <label>Descripción</label>
        <textarea rows="5" name="desc" class = "form-control"></textarea>
    </p>
    <p>
        <label>Monto en ventas para alcanzar el bono</label>
        <input name="monto_alcanzar" class = "form-control">
    </p>
    <br>
    <row>
        <div class="col-md-4">
            <p>
                <label>Criterio</label>
                <select id="criterio" name="criterio" class="selectpicker">
                    <option>Tienda</option>
                    <option selected>Individual</option>
                </select>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <label>Temporalidad</label>
                <select name="temporalidad" class="selectpicker">
                    <option>Semanal</option>
                    <option>Quincenal</option>
                    <option>Mensual</option>
                </select>
            </p>
        </div>
        <div class="col-md-4" style="visibility: hidden" id="id_tienda" >
            <p>
                <label>Tienda</label>
                <select name = "id_tienda" class="selectpicker" required>
                    <%
                    if (tiendas.length > 0 ){
                    for (var i =0; i < tiendas.length; i++){
                    %>
                    <option value="<%= tiendas[i].id %>"> <%= tiendas[i].nombre %> </option>
                    <%
                    }
                    }else {
                    %>
                    <option value="">Ninguna</option>
                    <% }%>
                </select>
            </p>
        </div>
    </row>
    <br>
    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>
<script>
    $("#criterio").change(function(){
        if($(this).val() == 'Tienda'){
            document.getElementById("id_tienda").style.visibility = 'visible';
        }else{
            document.getElementById("id_tienda").style.visibility = 'hidden';
        }
    })
</script>