<form id="penalizationForm">
    <p>
        <label>Nombre de la penalización</label>
        <input name="nombre" class="form-control" required>
    </p>

    <p>
        <label>Monto</label>
        <input name="monto" class = "form-control">
    </p>
    <p>
        <label>Descripción</label>
        <textarea rows="5" name="desc" class = "form-control"></textarea>
    </p>
    <br>
    <row>
        <div class="col-md-6">
    <p>
        <label>Retrasos</label>
        <select name="retraso" class="selectpicker">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
        </select>
    </p>
        </div>
        <div class="col-md-6">
    <p>
        <label>Salidas prematuras</label>
        <select name="antest" class="selectpicker">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
        </select>
    </p>
        </div>
    </row>
    <br>
    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>