<form id="itemForm">
    <!--id_proveedor
    id_tienda-->
    <p>
        <label>articulo</label>
        <input type="text" class="form-control" name="articulo" required>
    </p>
    <p>
        <label>Descripcion</label>
        <input type="text" name="descripcion" class="form-control" required>
    </p>
    <p>
        <label>Marca</label>
        <input type="text" class="form-control" name="marca" required>
    </p>
    <p>
        <label>Modelo</label>
        <input name="modelo" type="text" class="form-control" required>
    </p>

    <p>
        <label>Tienda</label>
        <select name = "id_tienda" class="form-control">
            <%
            if (tiendas.length > 0 ){
            for (var i =0; i < tiendas.length; i++){
            %>
            <option value="<%= tiendas[i].id %>"> <%= tiendas[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguna</option>
            <% }%>
        </select>
    </p>
    <p>
        <label>Proveedor</label>
        <select name="id_proveedor" class="form-control">
            <%
            if (proveedores.length > 0 ){
            for (var i =0; i < proveedores.length; i++){
            %>
            <option value="<%= proveedores[i].id %>"> <%= proveedores[i].nombre %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>
    <p>
        <label>Talla</label>
        <input type="text" name="talla" class="form-control">
    </p>
    <p>
        <label>Notas</label>
        <input type="text" name="notas" class="form-control">
    </p>
    <p>
        <label>Precio unitario</label>
        <input type="text" name="precio" class="form-control">
    </p>
    <p>
        <label>Costo unitario</label>
        <input type="text" name="costo" class="form-control">
    </p>
    <!--codigo_barras-->
    <!--url_imagen-->
    <p>
        <label>Fotografía</label>
        <input class="form-control" type="file" name="url_imagen">
    </p>
    <p>
        <label>Código de barras</label>
        <input type="number" class="form-control" name="codigo_barras">
    </p>
    <p>
        <!--No se debe permitir mismo código de barras para cada uno de los vestidos ver cómo adaptar el código de barras-->
        <label>Número de existencias</label>
        <input id="nArts" type="number" value="1" class="form-control" name="n_arts">
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </p>
</form>