<form id="lendingForm">
    <p>
        <label>Nombre del empleado</label>
        <select name = "id_usuario" class="form-control" required>
            <%
            if (usuarios.length > 0 ){
            for (var i =0; i < usuarios.length; i++){
            %>
            <option value="<%= usuarios[i].id %>"> <%= usuarios[i].nombres %> </option>
            <%
            }
            }else {
            %>
            <option value="">Ninguno</option>
            <% }%>
        </select>
    </p>

    <p>
        <label>Monto del préstamo</label>
        <input id="monto" name="monto" class = "form-control">
    </p>

    <p>
        <label>Pago Semanal</label>
        <input id="monto_semanal" name="monto_semanal" class = "form-control">
    </p>

    <p>
        <label>Descripción</label>
        <textarea rows="5"  name="desc" class = "form-control"></textarea>
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Fecha préstamo</label>
                <input type="text" name="fecha_prestamo" id="lending_datepicker1" class="form-control" required>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Fecha liquidación</label>
                <input type="text" name="fecha_liquidacion" id="lending_datepicker2" class="form-control" required>
            </p>
        </div>
    </div>
    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>

<script>
    $("#monto_semanal").change(function(){
        var month  = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
        var n_dias = Number(document.getElementById("monto").value) / Number(document.getElementById("monto_semanal").value);
        var new_date = new Date(document.getElementById("lending_datepicker1").value);
        new_date.setDate(new_date.getDate() + n_dias*7);
        document.getElementById("lending_datepicker2").value = new_date.getFullYear() + "-" + month[new_date.getMonth()] + "-" + new_date.getDate();
    })
</script>