<form id="brandForm">
    <p>
        <label>Nombre de la marca</label>
        <input name="nombre" class="form-control" required>
    </p>
    <p>
        <label>Descripción</label>
        <input type="text" class="form-control" name="descripcion" placeholder="Descripción...">
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>