<form id="noteForm">
    <p>
        <label>Nombre de la tienda</label>
        <input name="nombre" value="<%=sales[0].nombre%>" class="form-control" required>
    </p>

    <p>
        <label>Monto de la venta</label>
        <input name="nombre" value="<%=sales[0].precio_venta%>" class="form-control" required>
    </p>

    <p>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </p>
</form>