<%
if (penalizations.length > 0){%>
<div class="list-group">
    <%
    for ( var i =0; i < penalizations.length ; i ++ ){ %>
    <a href="#" class="list-group-item" data-penalization_id="<%= penalizations[i].id %>">
        <h4 class="list-group-item-heading"><i class="fa fa-ban"></i>  <%= penalizations[i].nombre %></h4>
        <p class="list-group-item-text"><%= "Monto: " + penalizations[i].monto + ", Descripción: " +  penalizations[i].descripcion%></p>
    </a>
    <%}%>
</div>

<% include pagination.ejs %>

<%}else {%>
<div class="alert alert-info" role="alert">No hay penalizaciones registradas</div>
<%}%>
