<form>


    <p>
        <label>Seleccione el tipo de reporte</label>
        <select class="form-control">
        <option>Ventas</option>
        <option>Asistencia de personal</option>
        <option>Devoluciones</option>
        <option>Saldos con proveedores</option>
    </select>
    </p>

    <label>Seleccione el periodo del reporte</label>
    <div class="row">

        <div class="col-sm-6">
            <p>
            <input type="text" id="reports_datepicker1" class="form-control">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
            <input type="text" id="reports_datepicker2" class="form-control">
            </p>
        </div>
    </div>

    <p>
    <button type="submit" class="btn btn-primary"> Generar</button>
    </p>
</form>