<form>
    <label>Seleccione el tipo de reporte</label>

    <select class="form-control">
        <option>Ventas</option>
        <option>Asistencia de personal</option>
        <option>Devoluciones</option>
        <option>Saldos con proveedores</option>
    </select>

    <label>Periodo de tiempo</label>
    <div class="row">

        <div class="col-sm-6">
            <input type="date" class="form-control">
        </div>
        <div class="col-sm-6">
            <input type="date" class="form-control">
        </div>
    </div>

</form>