<form>



    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Tipo de reporte</label>
                <select class="form-control" name="tipo">
                    <option value="ventas">Ventas</option>
                    <option value="proveedores">Saldos con proveedores</option>
                    <option value="asistencia">Asistencia de personal</option>
                    <option value="devoluciones">Devoluciones</option>
                </select>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label> Tienda
                </label>
                <select class="form-control" name="id_tienda">
                    <% for (var i =0; i< tiendas.length; i++){%>
                    <option value="<%= tiendas[i].id %>"> <%= tiendas[i].nombre %> </option>
                    <%}%>
                </select>
            </p>


        </div>
    </div>




    <div class="row">

        <div class="col-sm-6">
            <label>Fecha inicial</label>
            <div class="form-group">
                <div class='input-group'>
                    <input type="text" id="reports_datepicker1" class="form-control" name="startdate">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
<label>Fecha final</label>
            <div class="form-group">
                <div class='input-group'>
                    <input type="text" id="reports_datepicker2" class="form-control" name="enddate">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <p>
    <button type="submit" class="btn btn-primary"> Generar</button>
    </p>
</form>