<!-- Reports -->

<h2>Reporte de <%= data.tipo%></h2>


<table class="table table-striped">
    <thead>
    <tr>

        <% for (var i=0; i< data.names.length; i++){%>

        <th><%= data.names[i] %></th>

        <%}%>
    </tr>
    </thead>
    <tbody>
    <tr>

        <% for (var i=0; i< data.rows.length; i ++){
        for ( var x in data.rows[i]){
        %>
        <td> <%= x %> </td>
        <%}} %>

    </tr>
    </tbody>
</table>