<hr>
<h3>Resultados</h3>
<% if (items.length> 0){
for (var i=0; i< items.length; i++){%>

<div class="well">

    <form>

        <label>Artículo</label>
        <p><%= items[i].articulo %></p>
        <label>Descripción</label>
        <p><%= items[i].descripcion%></p>
        <label>Modelo</label>
        <p><%= items[i].modelo%></p>
        <button class="btn btn-default" type="button" data-item_id="<%= items[i].id %>"> <i class="fa fa-cart-plus"></i> </button>
    </form>

</div>
<%}}else{%>

<div class="alert alert-warning">

    La búsqueda no retornó resultados
</div>
<%}%>