<form>
    <div class="row">

        <div class="col-sm-6">
            <label>Fecha inicial</label>
            <p>
                <input type="text" name="fecha_inicial">
            </p>
        </div>
        <div class="col-sm-6">
            <label>Fecha final</label>
            <p>
                <input type="text" name="fecha_final">
            </p>
        </div>
    </div>

    <p>
        <button class="btn btn-default">Consultar</button>
    </p>

</form>