
<%
if (stores.length > 0){%>
<div class="list-group">
    <%
    for ( var i =0; i < stores.length ; i ++ ){ %>
    <a href="#" class="list-group-item" data-store_id="<%= stores[i].id %>">
        <h4 class="list-group-item-heading"> <%= stores[i].nombre %></h4>
        <p class="list-group-item-text"><%= stores[i].direccion_calle %></p>
    </a>
    <%}%>
</div>

<% include pagination.ejs %>

<%}else {%>
<div class="alert alert-info" role="alert">No hay tiendas registradas</div>
<%}%>
