<form id="storeForm">
    <p>
        <label>Nombre de la tienda</label>
        <input name="nombre" class="form-control">
    </p>
    <p>
        <label>Calle</label>
        <input type="text" class="form-control" name="direccion_calle">
    </p>
    <p>
        <label>Número interior</label>
        <input type="text" class="form-control" name="direccion_numero_int">
    </p>
    <p>
        <label>Número exterior</label>
        <input type="text" class="form-control" name="direccion_numero_ext">
    </p>
    <p>
        <label>Colonia</label>
        <input type="text" class="form-control" name="direccion_colonia">
    </p>
    <p>
        <label>Localidad</label>
        <input class="form-control" type="text" name="direccion_localidad">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" class="form-control" name="direccion_municipio">
    </p>
    <p>
        <label>Ciudad</label>
        <input type="text" class="form-control" name="direccion_ciudad">
    </p>
    <p>
        <label>Pais</label>
        <input type="text" class="form-control" name = "direccion_pais">
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>