
<div class="list-group">
    <%
    if ( suppliers.length > 0){
    for (var i=0; i< suppliers.length; i++){
    %>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading"> <%= suppliers[i].nombre %></h4>
        <p class="list-group-item-text"><%= suppliers[i].razon_social %></p>
    </a>
    <%}
    } else {%>
    <div class="alert alert-info" role="alert">No se han registrado proveedores</div>
    <%}%>
</div>