
<div class="list-group">
    <% for (var i=0; i< suppliers.length; i++){%>
    <div class="list-group-item">
        <h4 class="list-group-item-heading"> <%= suppliers[i].nombre %></h4>
        <p class="list-group-item-text"><%= suppliers[i].razon_social %></p>

    </div>
    <%}%>
</div>