<!-- incluir estilos -->
<p>
<b>Nota <%= venta.id %></b>
</p>

<p>
Fecha:<br>
<%= venta.fecha_venta.toString() %>
</p>

<p>
Hora:<br>
<%= venta.hora_venta.toString() %>
</p>



<p>Artículos</p>
<% for ( var i=0; i< articulos.length; i++){%>

<p><%= articulos[i].articulo %></p>
<%}%>


<p><b>TOTAL:</b></p>

