<form id="typeForm">
    <p>
        <label>Monto Pagado en efectivo</label>
        <input name="monto_efec" class="form-control" required>
    </p>

    <p>
        <label>Monto Pagado con tarjeta</label>
        <input name="monto_tarj" class="form-control" required>
    </p>

    <p>
        <label>Terminal</label>
        <input name="terminal" class="form-control" required>
    </p>


    <p>
        <button type="submit" class="btn btn-primary">Crear</button>
    </p>
</form>