<form name="form_updateprofile">
    <input type="hidden" name="user_id">
    <p><input class="form-control" name ="nombres" vale = "<%= user.nombres %>"></p>
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>
<hr>
<form name="update_password">
    <input type="hidden" name="user_id">
    <button class="btn btn-primary" type="submit">Guardar</button>
</form>