<form name="form_updateprofile">
    <input type="hidden" name="user_id">
    <button type="submit">Guardar</button>
</form>

<form name="update_password">
    <input type="hidden" name="user_id">
    <button type="submit">Guardar</button>
</form>