<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- date picker -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="/bower_components/timepicker/jquery.timepicker.css"></link>
</head>
<body>

<% include partials/navbar.ejs%>

<div class="container">

    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Sucursales</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-action="new_store" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Añadir sucursal<strong></strong></strong></button>
                        <button type="button" data-action="edit_store" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar o eliminar sucursales</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Terminales</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-action="new_terminal" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Añadir terminal<strong></strong></strong></button>
                        <button type="button" data-action="edit_terminal" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar o eliminar terminales</strong></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Administrar de usuarios</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-toggle="modal" data-target="#genericModal" data-action="new_user" class="list-group-item"><i class="fa fa-user-plus"></i> <strong>Crear usuario </strong></button>
                        <button type="button" data-action="edit_user" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-users"></i> <strong>Editar o eliminar usuarios</strong></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Administrar notas</div>
            <div class="panel-body">
                <div class="list-group">
                    <button type="button" data-action="find_notes" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-search"></i> <strong>Buscar notas</strong></button>
                    <button type="button" data-action="print_notes" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-list"></i> <strong>Ver notas</strong></button>
                    <!--<button type="button" data-action="cancel_notes" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-times"></i> <strong>Eliminar notas</strong></button>-->
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Reportes</div>
            <div class="panel-body">
                <div class="list-group">
                    <button type="button" class="list-group-item" data-toggle="modal" data-target="#genericModal" data-action="reports"><i class="fa fa-file-text"></i> <strong>Generar reportes</strong></button>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading">Nómina</div>
            <div class="panel-body">
                <div class="list-group">
                    <button type="button" data-action="new_penalization" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Registrar penalizaciones</strong></button>
                    <button type="button" data-action="edit_penalization" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar penalizaciones</strong></button>
                </div>

                <div class="list-group">
                    <button type="button" data-action="new_bonus" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Registrar bonos</strong></button>
                    <button type="button" data-action="edit_bonus" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar bonos</strong></button>
                </div>

                <div class="list-group">
                    <button type="button" data-action="new_lending" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Registrar préstamos</strong></button>
                    <button type="button" data-action="edit_lending" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar préstamos</strong></button>
                </div>
                <div class="list-group">
                    <button type="button" data-action="new_extra_pay" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Registrar pago extra</strong></button>
                    <button type="button" data-action="edit_extra_pay" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar pago extra</strong></button>
                </div>
                <div class="list-group">
                    <button type="button" data-action="find_employee" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-search"></i> <strong>Buscar empleados</strong></button>
                    <button type="button" id="downloadsales"  class="list-group-item"><i class="fa fa-download"></i> <strong>Descargar lista de ventas</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>



</div>

<% include partials/modal.ejs %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/bower_components/jspdf/dist/jspdf.min.js"></script>

<!-- datepicker -->
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/bower_components/timepicker/jquery.timepicker.min.js"></script>
<script src="/javascripts/modal.js"></script>
<script src="/javascripts/admin.js"></script>

</body>
</html>
