<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

    <!-- date picker -->
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<% include partials/navbar.ejs%>

<div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><strong>Reportes</strong></a></li>
        <li role="presentation"><a href="#sucursales" aria-controls="sucursales" role="tab" data-toggle="tab"><strong>Sucursales</strong></a></li>
        <li role="presentation"><a href="#terminales" aria-controls="terminales" role="tab" data-toggle="tab"><strong>Terminales</strong></a></li>
        <li role="presentation"><a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab"><strong>Usuarios</strong></a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><strong>Nómina</strong></a></li>
        <li role="presentation"><a href="#notas"    aria-controls="notas" role="tab" data-toggle="tab"><strong>Impresión de Notas</strong></a></li>
    </ul>

    <div class="panel panel-default">
        <div class="panel-body">

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <!--<h3> Revisar operación global de la empresa </h3>-->
                    <!--<h3>Historial de ventas devoluciones y transferencias de mercancía</h3>-->

                    <div class="list-group">
                        <button type="button" class="list-group-item" data-toggle="modal" data-target="#genericModal" data-action="reports"><i class="fa fa-file-text"></i> <strong>Generar reportes</strong></button>
                    </div>
                </div>


                <div role="tabpanel" class="tab-pane fade" id="sucursales">
                    <div class="list-group">
                        <button type="button" data-action="new_store" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Añadir sucursal<strong></strong></strong></button>
                        <button type="button" data-action="edit_store" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar sucursales</strong></button>
                    </div>
                </div>


                <div role="tabpanel" class="tab-pane fade" id="terminales">
                    <div class="list-group">
                        <button type="button" data-action="new_terminal" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Añadir terminal<strong></strong></strong></button>
                        <button type="button" data-action="edit_terminal" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar terminal</strong></button>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="notas">
                    <div class="list-group">
                        <button type="button" data-action="edit_terminal" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-list"></i> <strong>Listar Notas</strong></button>
                        <button type="button" data-action="edit_terminal" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-search"></i> <strong>Buscar Notas</strong></button>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="usuarios">
                    <!--<h3>Permite añadir, actualizar y eliminar usuarios</h3>-->
                    <div class="list-group">
                        <button type="button" data-toggle="modal" data-target="#genericModal" data-action="new_user" class="list-group-item"><i class="fa fa-user-plus"></i> <strong>Crear usuario </strong></button>
                        <button type="button" data-action="edit_user" data-toggle="modal" data-target="#genericModal"  class="list-group-item"><i class="fa fa-users"></i> <strong>Editar usuarios</strong></button>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages">
                    <h3>Administración de empleados</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<% include partials/modal.ejs %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- datepicker -->
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="/javascripts/modal.js"></script>
</body>
</html>
