<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= title %></title>

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
</head>
<body>

<% include partials/navbar.ejs%>

<div class="container">

    <div class="row">

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Proveedores</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-action="new_supplier" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-user-plus"></i> <strong>Nuevo proveedor</strong></button>
                        <button type="button" data-action="edit_supplier" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-users"></i> <strong>Editar o eliminar proveedor</strong></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Marcas</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-action="new_brand" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Registrar marca</strong></button>
                        <button type="button" data-action="edit_brand" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-edit"></i> <strong>Editar o eliminar marcas</strong></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Artículos</div>
                <div class="panel-body">
                    <div class="list-group">
                        <button type="button" data-action="new_item" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-plus-square"></i> <strong>Nuevo artículo</strong></button>
                        <button type="button" data-action="find_item_inv" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-search"></i> <strong>Buscar y editar artículo</strong></button>
                        <button type="button" data-action="back_item" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-exchange"></i> <strong>Devolución de artículos</strong></button>
                        <button type="button" data-action="edit_item" data-toggle="modal" data-target="#genericModal" class="list-group-item"><i class="fa fa-list"></i> <strong> Editar artículos</strong></button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<% include partials/modal.ejs %>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/modal.js"></script>
</body>
</html>
