body{
    background-color: #f6f6f6;
    padding-top: 70px;
}

.nav-pills{
    padding-bottom: 10px;
}

/*
.tab-pane{
    background-color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}*/

 body .panel-body {

    min-height: 150px;
}