<form>
    <p>
        <label>Nombre de usuario</label>
        <input type="text" class="form-control" name="usuario" required placeholder="Por ejemplo: Luis, Eduardo, ...">
    </p>
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Contraseña</label>
                <input type="password" class="form-control" name="contrasena" required>
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>Confirmar contraseña</label>
                <input type="password" class="form-control" name="confirmar_contrasena" required>
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>E-mail</label>
                <input type="email" class="form-control" name="email">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Nombre(s)</label>
                <input type="text" class="form-control" name="nombres" required>
            </p>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Apellido paterno</label>
                <input type="text" class="form-control" name="apellido_paterno" >
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Apellido materno</label>
                <input type="text" class="form-control" name="apellido_materno" >
            </p>
        </div>
    </div>


    <p>
        <label>RFC</label>
        <input type="text" class="form-control" name="rfc">
    </p>


    <p>
        <label>Calle</label>
        <input type="text" class="form-control" name="direccion_calle">
    </p>

    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Número interior</label>
                <input type="text" class="form-control" name="direccion_numero_int">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Número exterior</label>
                <input type="text" class="form-control" name="direccion_numero_ext">
            </p>
        </div>
    </div>




    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Colonia</label>
                <input type="text" class="form-control" name="direccion_colonia">
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>Localidad</label>
                <input type="text" class="form-control" name="direccion_localidad">
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Municipio</label>
                <input type="text" class="form-control" name="direccion_municipio">
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>Ciudad</label>
                <input type="text" class="form-control" name="direccion_ciudad">
            </p>
        </div>



    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Estado</label>
                <input type="text" class="form-control" name="direccion_estado">
            </p>
        </div>

        <div class="col-sm-6">
            <p>
                <label>País</label>
                <input type="text" class="form-control" name="direccion_pais" value="México">
            </p>
        </div>
    </div>


        <p>
            <label>Tienda</label>
            <select name = "id_tienda" class="form-control" required>
                <%
                if (tiendas.length > 0 ){
                for (var i =0; i < tiendas.length; i++){
                %>
                <option value="<%= tiendas[i].id %>"> <%= tiendas[i].nombre %> </option>
                <%
                }
                }else {
                %>
                <option value="">Ninguna</option>
                <% }%>
            </select>
        </p>


    <div class="row">
        <div class="col-sm-2">
            <p>
                <label>¿Es empleado?</label>
                <select class="form-control" name="empleado">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </p>
        </div>

        <div class="col-sm-2">
            <p>
                <label>Salario</label>
                <input type="number" step="any" class="form-control" name="salario" required>
            </p>
        </div>
        <div class="col-sm-2">
            <p>
                <label>Comsión %</label>
                <input type="number" step="any" class="form-control" name="comision" required>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Hora de entrada</label>
                <input type="text" id="timepicker1" class="form-control" name="llegada" required>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Hora de salida</label>
                <input type="text" id="timepicker2" class="form-control" name="salida" required>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>
                <label>Vendedor</label>
                <select class="form-control" name="permiso_empleados">
                    <option value="true">Sí</option>
                    <option value="false">No</option>
                </select>
            </p>
        </div>
        <div class="col-sm-3">
            <p>
                <label>Inventario</label>
                <select class="form-control" name="permiso_inventario">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>


        <div class="col-sm-3">
            <p>
                <label>Administrador</label>
                <select class="form-control" name="permiso_administrador">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>

        <div class="col-sm-3">
            <p>
                <label>Tablero</label>
                <select class="form-control" name="permiso_tablero">
                    <option value="false">No</option>
                    <option value="true">Sí</option>
                </select>
            </p>
        </div>
    </div>


    <p>
        <button class="btn btn-primary" type="submit">Registrar</button>
    </p>

</form>