<form id="supplierForm">
    <p>
        <label>Nombre corto</label>
        <input type="text" class="form-control" name="nombre" required>
    </p>
    <p>
        <label>Razón social</label>
        <input type="text" class="form-control" name="razon_social" required>
    </p>
    <p>
        <label>RFC</label>
        <input type="text" class="form-control" name="rfc">
    </p>
    <p>
        <label>Calle</label>
        <input type="text" class="form-control" name="direccion_calle">
    </p>
    <div class="row">

        <div class="col-sm-6">
            <p>
                <label>Número interior</label>
                <input type="text" class="form-control" name="direccion_numero_int">
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Número exterior</label>
                <input type="text" class="form-control" name="direccion_numero_ext">
            </p>
        </div>
    </div>

    <p>
        <label>Colonia</label>
        <input type="text" class="form-control" name="direccion_colonia">
    </p>
    <p>
        <label>Localidad</label>
        <input type="text" class="form-control" name="direccion_localidad">
    </p>
    <p>
        <label>Municipio</label>
        <input type="text" class="form-control" name="direccion_municipio">
    </p>
    <p>
        <label>Ciudad</label>
        <input type="text" class="form-control" name="direccion_ciudad">
    </p>
    <p>
        <label>Estado</label>
        <input type="text" class="form-control" name="direccion_estado">
    </p>
    <p>
        <label>País</label>
        <input type="text" class="form-control" name="direccion_pais" value="México">
    </p>
    <p>
        <label>Por pagar</label>
        <input type="number" value="0" class="form-control" name="por_pagar" value=-1 max="0">
    </p>
    <!--<p>
        <label>Saldo</label>
        <input type="text" class="form-control" name="saldo" disabled>
    </p>-->
    <p><button type="submit" class="btn btn-primary">Registrar</button> </p>
</form>
