<form id="suppForm">
    <h2>Proveedor: <%=prov.nombre%> </h2>
    <h3>Saldo: <span style='color:#E91E63'><%=por_pagar.por_pagar ? por_pagar.por_pagar : 0%></span></h3>
    <hr>
    <input type="text" value="<%=prov.id%>" name="id" hidden>
    <label>Fecha en la que se realiza el pago</label>
    <div class='input-group'>
        <input type="text" name="fecha_pago" id="payment_date" class="form-control" required>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <br>
    <p>
        <label>Monto a pagar: </label>
        <input type="number" name="monto_pago" id="monto_pago" class="form-control" required>
    </p>
    <br>
    <p>
        <label>Notas o comentarios: </label>
        <textarea class="form-control" rows="5" name="concepto" id="concepto"></textarea>
    </p>
    <p>
        <button type="submit" class="btn btn-primary">Pagar proveedor</button>
    </p>
</form>
